In [1]:
import pandas as pd

In [2]:
import pymysql as mysql

In [3]:
con=mysql.connect(host='localhost',user='root',password='root',database='test1')

In [4]:
df=pd.read_sql_query('select * from student',con)
df

   id   name
0   1  aaaaa
1   2   bbbb
2   3    ccc

In [5]:
df=pd.read_json('iris.json')
df

     petalLength  petalWidth  sepalLength  sepalWidth    species
0            1.4         0.2          5.1         3.5     setosa
1            1.4         0.2          4.9         3.0     setosa
2            1.3         0.2          4.7         3.2     setosa
3            1.5         0.2          4.6         3.1     setosa
4            1.4         0.2          5.0         3.6     setosa
5            1.7         0.4          5.4         3.9     setosa
6            1.4         0.3          4.6         3.4     setosa
7            1.5         0.2          5.0         3.4     setosa
8            1.4         0.2          4.4         2.9     setosa
9            1.5         0.1          4.9         3.1     setosa
10           1.5         0.2          5.4         3.7     setosa
11           1.6         0.2          4.8         3.4     setosa
12           1.4         0.1          4.8         3.0     setosa
13           1.1         0.1          4.3         3.0     setosa
14           1.2         0.2          5.8         4.0     setosa
15           1.5         0.4          5.7         4.4     setosa
16           1.3         0.4          5.4         3.9     setosa
17           1.4         0.3          5.1         3.5     setosa
18           1.7         0.3          5.7         3.8     setosa
19           1.5         0.3          5.1         3.8     setosa
20           1.7         0.2          5.4         3.4     setosa
21           1.5         0.4          5.1         3.7     setosa
22           1.0         0.2          4.6         3.6     setosa
23           1.7         0.5          5.1         3.3     setosa
24           1.9         0.2          4.8         3.4     setosa
25           1.6         0.2          5.0         3.0     setosa
26           1.6         0.4          5.0         3.4     setosa
27           1.5         0.2          5.2         3.5     setosa
28           1.4         0.2          5.2         3.4     setosa
29           1.6         0.2          4.7         3.2     setosa
..           ...         ...          ...         ...        ...
120          5.7         2.3          6.9         3.2  virginica
121          4.9         2.0          5.6         2.8  virginica
122          6.7         2.0          7.7         2.8  virginica
123          4.9         1.8          6.3         2.7  virginica
124          5.7         2.1          6.7         3.3  virginica
125          6.0         1.8          7.2         3.2  virginica
126          4.8         1.8          6.2         2.8  virginica
127          4.9         1.8          6.1         3.0  virginica
128          5.6         2.1          6.4         2.8  virginica
129          5.8         1.6          7.2         3.0  virginica
130          6.1         1.9          7.4         2.8  virginica
131          6.4         2.0          7.9         3.8  virginica
132          5.6         2.2          6.4         2.8  virginica
133          5.1         1.5          6.3         2.8  virginica
134          5.6         1.4          6.1         2.6  virginica
135          6.1         2.3          7.7         3.0  virginica
136          5.6         2.4          6.3         3.4  virginica
137          5.5         1.8          6.4         3.1  virginica
138          4.8         1.8          6.0         3.0  virginica
139          5.4         2.1          6.9         3.1  virginica
140          5.6         2.4          6.7         3.1  virginica
141          5.1         2.3          6.9         3.1  virginica
142          5.1         1.9          5.8         2.7  virginica
143          5.9         2.3          6.8         3.2  virginica
144          5.7         2.5          6.7         3.3  virginica
145          5.2         2.3          6.7         3.0  virginica
146          5.0         1.9          6.3         2.5  virginica
147          5.2         2.0          6.5         3.0  virginica
148          5.4         2.3          6.2         3.4  virginica
149          5.1         1.8          5.9         3.0  virginica

[150 rows x 5 columns]

In [6]:
# nasted json file
import json
from pandas.io.json import json_normalize

In [7]:
f=open('monthlySalesbyCategoryMultiple.json')
data=json.load(f)
data

{'contents': [{'category': 'Furniture',
   'region': 'West',
   'monthlySales': [{'month': 20130101, 'sales': 38},
    {'month': 20130201, 'sales': 35},
    {'month': 20130301, 'sales': 41},
    {'month': 20130401, 'sales': 55},
    {'month': 20130501, 'sales': 58},
    {'month': 20130601, 'sales': 66},
    {'month': 20130701, 'sales': 74},
    {'month': 20130801, 'sales': 78},
    {'month': 20130901, 'sales': 38},
    {'month': 20131001, 'sales': 30},
    {'month': 20131101, 'sales': 26},
    {'month': 20131201, 'sales': 29}]},
  {'category': 'Technology',
   'region': 'West',
   'monthlySales': [{'month': 20130101, 'sales': 54},
    {'month': 20130201, 'sales': 66},
    {'month': 20130301, 'sales': 77},
    {'month': 20130401, 'sales': 70},
    {'month': 20130501, 'sales': 60},
    {'month': 20130601, 'sales': 63},
    {'month': 20130701, 'sales': 55},
    {'month': 20130801, 'sales': 47},
    {'month': 20130901, 'sales': 55},
    {'month': 20131001, 'sales': 30},
    {'month': 20131101, 'sales': 22},
    {'month': 20131201, 'sales': 77}]}]}

In [8]:
df=json_normalize(data['contents'])
df

     category                                       monthlySales region
0   Furniture  [{'month': 20130101, 'sales': 38}, {'month': 2...   West
1  Technology  [{'month': 20130101, 'sales': 54}, {'month': 2...   West

In [12]:
df.columns

Index(['category', 'monthlySales', 'region'], dtype='object')